.env
AI_Agent_System/__pycache__
AI_Agent_System/chroma_db
chroma_db
Data/__pycache__
Delivery_System/__pycache__
Visualizations/__pycache__
Automation/__pycache__

# conda environment
autogen 

.DS_Store

save_agent_logs.py
view_agent_conversation.py
__pycache__